name: Reusable Docker Build & Push

on:
  workflow_call:
    inputs:
      service_name:
        required: true
        type: string
      dockerfile_path:
        required: true
        type: string
      image_name:
        required: true
        type: string

jobs:
  build_push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      # Login once for GHCR
      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ github.token }}

      # Install Trivy for vulnerability scanning
      - name: Install Trivy
        run: |
          sudo apt-get update
          sudo apt-get install wget apt-transport-https gnupg lsb-release -y
          wget -qO - https://aquasecurity.github.io/trivy-repo/deb/public.key | sudo apt-key add -
          echo deb https://aquasecurity.github.io/trivy-repo/deb $(lsb_release -sc) main | sudo tee /etc/apt/sources.list.d/trivy.list
          sudo apt-get update
          sudo apt-get install trivy -y

      # Build Docker image
      - name: Build Docker Image
        run: |
          OWNER_LC=$(echo "${{ github.repository_owner }}" | tr '[:upper:]' '[:lower:]')
          docker build -f ${{ inputs.dockerfile_path }} \
          -t ghcr.io/${OWNER_LC}/${{ inputs.image_name }}:latest \
          .
        env:
          DOCKER_BUILDKIT: 1

      # Scan image security
      - name: Scan Docker Image with Trivy
        run: |
          OWNER_LC=$(echo "${{ github.repository_owner }}" | tr '[:upper:]' '[:lower:]')
          trivy image --severity HIGH,CRITICAL --exit-code 0 \
          ghcr.io/${OWNER_LC}/${{ inputs.image_name }}:latest

      # Push image
      - name: Push Docker Image
        run: |
          OWNER_LC=$(echo "${{ github.repository_owner }}" | tr '[:upper:]' '[:lower:]')
          docker push ghcr.io/${OWNER_LC}/${{ inputs.image_name }}:latest
