name: Reusable Docker Build & Push

on:
  workflow_call:
    inputs:
      service_name:
        required: true
        type: string
      dockerfile_path:
        required: true
        type: string
      image_name:
        required: true
        type: string
      image_tag:
        required: true
        type: string

jobs:
  build_push:
    runs-on: ubuntu-latest
    env:
      OWNER_LC: ${{ github.repository_owner }}

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      # Login once for GHCR
      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ github.token }}

      # Install Trivy for vulnerability scanning
      - name: Install Trivy
        run: |
          sudo apt-get update
          sudo apt-get install wget apt-transport-https gnupg lsb-release -y
          wget -qO - https://aquasecurity.github.io/trivy-repo/deb/public.key | sudo apt-key add -
          echo deb https://aquasecurity.github.io/trivy-repo/deb $(lsb_release -sc) main | sudo tee /etc/apt/sources.list.d/trivy.list
          sudo apt-get update
          sudo apt-get install trivy -y

      # Build Docker image
      - name: Build Docker Image
        run: |
          docker build -f ${{ inputs.dockerfile_path }} \
          -t ghcr.io/${OWNER_LC,,}/${{ inputs.image_name }}:${{ inputs.image_tag }} \
          .
        env:
          DOCKER_BUILDKIT: 1


      # Scan image security
      - name: Scan Docker Image with Trivy
        run: |
          trivy image --severity HIGH,CRITICAL --exit-code 0 \
          ghcr.io/${OWNER_LC,,}/${{ inputs.image_name }}:${{ inputs.image_tag }}

      # Push image
      - name: Push Docker Image
        run: |
          docker push ghcr.io/${OWNER_LC,,}/${{ inputs.image_name }}:${{ inputs.image_tag }}


       # Deploy to Kubernetes (common step)
      - name: Deploy to Kubernetes
        if: ${{ inputs.image_name != '' }} # optional guard
        env:
          IMAGE_TAG: ${{ inputs.image_tag }}
        run: |
          # Replace image tag in Helm values dynamically
          SERVICE_NAME=${{ inputs.image_name }}
          helm upgrade --install $SERVICE_NAME ./charts/$SERVICE_NAME \
            --set image.tag=${IMAGE_TAG} \
            --set image.repository=ghcr.io/${OWNER_LC,,}/${SERVICE_NAME}
